body {
  font-family: 'Poppins', sans-serif;
}

/* NavBar */
.navbar.navbar-expand-lg.navbar-light {
  /* background-color:  */
  background: linear-gradient(to right, #2B9EB3 , #8BCAD5);
}
  /* Navbar logo */
  .navbar-brand.text-light {
    font-weight:bolder;
    text-transform: uppercase;
  }
  /* navbar li items */
  .collapse.navbar-collapse.justify-content-end {
    font-weight: 600;
  }

/* Banner text */
.display-3.text-center {
  color: #144852;
}

/* button to about */
.btn.btn-primary.btn-lg {
  margin-top: 25px;
  font-size: 35px;
  font-weight: bold;
  background: linear-gradient(to right, #2B9EB3 , #8BCAD5);
  border: none;
  transition: 0.5s font-size;
}

.btn.btn-primary.btn-lg:hover {
  font-size: 40px;
}
