body {
  font-family: 'Poppins', sans-serif;
}

/* Index.html */
  /* NavBar */
  .navbar.navbar-expand-lg.navbar-light {
    /* background-color:  */
    background: linear-gradient(to right, #2B9EB3 , #8BCAD5);
  }
    /* Navbar logo */
    .navbar-brand.text-light {
      font-weight:bolder;
      text-transform: uppercase;
    }
    /* navbar ul */
    .collapse.navbar-collapse.justify-content-end {
      /* font-weight: 600; */
    }
    /* navbar li items */
    .nav-link.text-light {
      margin: 0 5px 0 5px;
    }

    .navbar-toggler-icon {
      color: white;
    }

  /* Banner text */
  .welcomeText.text-center {
    color: #144852;
    text-shadow: 2px 2px 4px grey;
  }

  /* button to about */
  .btn.btn-lg {
    margin-top: 25px;
    font-size: 35px;
    font-weight: bold;
    background: linear-gradient(to right, #2B9EB3 , #8BCAD5);
    border: none;
    border-radius: 30px;
    transition: 0.5s font-size;
    color: white;
  }
  /* When hovering over button */
  .btn.btn-lg:hover {
    font-size: 40px;
  }
  /* When clicking button */
  .btn.btn-lg:active {
    background: linear-gradient(to right, #2B9EB3 , #8BCAD5);
    background-color: #2B9EB3;
    border: none;
  }

/* About */
  .aboutInfo {
    margin-top: 20px;
  }
  #aboutImg {
    width:600px;
    border-radius: 10px;
  }
  .aboutInfo h1 {
    color: #144852;
    text-shadow: 2px 2px 4px grey;
  }

/* Contact */
  .btn.btn-primary {
    background-color: #2B9EB3;
    border: none;
  }

/* Portfolio */
  .container.projGrid {
    margin-top: 75px;

  }
  .img-thumbnail {
    transition: 0.2s border;
    height: 250px;
    width: 350px;
  }
  .img-thumbnail:hover {
    border: solid 5px;
    border-color: #b3ecff;
  }

  /* // Extra small devices (portrait phones, less than 576px)
  // No media query since this is the default in Bootstrap

  // Small devices (landscape phones, 576px and up) */
  @media (min-width: 360px) {
    .welcomeText.text-center {
      font-size: 50px;
    }
  }
  @media (min-width: 360px) {
    .welcomeSubText.text-center {
      font-size: 35px;
    }
  }

  /* // Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    .welcomeText.text-center {
      font-size: 70px;
    },
  }

  /* // Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    .welcomeText.text-center {
      font-size: 70px;
    }
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) { ... }
